@import '@payloadcms/ui/scss';

.dashboard .before-dashboard {
  margin-bottom: base(1.5);

  &__content {
    align-items: center;
    background: var(--theme-elevation-50);
    border: 1px solid var(--theme-elevation-150);
    border-radius: 8px;
    display: flex;
    gap: base(1);
    justify-content: space-between;
    padding: base(1);

    h2 {
      font-size: base(0.9);
      margin: 0;
    }

    p {
      color: var(--theme-elevation-600);
      margin: base(0.25) 0 0;
    }
  }
}
